<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Botones Agregar</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <!-- class="py-4 mb-4 bg-light"comment -->
        <div th:fragment="botonesAgregarHoja" >
            <div class="container">
                <div class="row">
                    <div class="col-md-3" >
                        <a href="#" class="btn btn-primary btn-block" 
                            data-toggle="modal" data-target="#agregarHoja">
                            <i class="fas fa-plus"></i> [[#{accion.agregarHoja}]]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
