<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/cabecera::head">
        <title>Inicio</title>
        <meta charset="utf-8"/>     
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css' />
        <script src="webjars/jquery/jquery.js"></script>
        <script src="webjars/bootstrap/js/bootstrap.min.js"></script>

    </head>

    <body id="page-top">


        <!-- Page Wrapper -->
        <div id="wrapper">

            <div th:replace="layout/menu :: menu"></div>


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <div th:replace="layout/nav :: nav"></div>

                    <!-- Begin Page Content arriba -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <h1 class="h3 mb-4 text-gray-800">Dirección</h1>

                        <div class="row">

                            <div class="col-lg-12">

                                <!-- Circle Buttons -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Información</h6>
                                    </div>
                                    <!--  <div class="card-body"> -->

                                    <!-- Outer Row -->
                                    <div class="row justify-content-center">

                                        <div class="col-xl-10 col-lg-16 col-md-12">

                                            <div class="card o-hidden border-0 shadow-lg my-5">
                                                <div class="card-body p-0">
                                                    <!-- Nested Row within Card Body -->
                                                    <div class="row">

                                                        <div class="col-lg-12">
                                                            <div class="p-5">
                                                                <div class="text-center">
                                                                    <h1 class="h4 text-gray-900 mb-4">Datos de Dirección</h1>
                                                                </div>
                                                                <form class="user" th:action="@{/apiempleado/guardardireccion}" th:object="${direccion}"  method="post" enctype="multipart/form-data">
                                                                    <div class="row g-3">

                                                                        <div class="row g-3">
                                                                            <div class="col-sm-6">
                                                                                <div class="form-group">
                                                                                    <label for="tipoDireccion">Tipo Direccion</label>
                                                                                    <select class="form-control" name="tipoDireccion" th:field="*{tipoDireccion.idTipoDireccion}" id="tipoDireccion" th:onchange="'window.location.href = \'' + @{/apiempleado/editdireccion/} + '\' + this.value ' "; "seleccionar();">
                                                                                        <option th:each="tipoDireccion : ${tipoDireccions}" 
                                                                                                th:value="${tipoDireccion.idTipoDireccion}"
                                                                                                th:text="${tipoDireccion.nombreTipoDireccion}">
                                                                                        </option>
                                                                                    </select>



                                                                                </div>
                                                                            </div>




                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label for="callePrincipal">Principal</label>
                                                                                    <input type="text"  th:field="*{callePrincipal}" class="form-control" id="callePrincipal" name="callePrincipal" placeholder="Calle Principal">


                                                                                        <input type="hidden" th:field="*{llave.idPersona}"/>
                                                                                        <input type="hidden" th:field="*{llave.idtipoDireccion}"/>
                                                                                        <!-- 
                                                                                         <input type="hidden" th:field="*{llave}"/> 
                                                                                        <input type="text" th:field="*{tipoDireccion.idTipoDireccion}"/> 
                                                                                        comment -->
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <input type="text"  th:field="*{numeroCasa}" class="form-control"
                                                                                           id="numeroCasa" name="numeroCasa" placeholder="numeroCasa">

                                                                                </div>
                                                                            </div>






                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <input type="text"  th:field="*{calleSecundaria}" class="form-control"
                                                                                           id="calleSecundaria" name="calleSecundaria" placeholder="calleSecundaria">

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <input type="text"  th:field="*{barrio}"  class="form-control"
                                                                                           id="barrio" name="barrio" placeholder="barrio">

                                                                                </div>
                                                                            </div>

                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <input type="text"  th:field="*{celular}" class="form-control"
                                                                                           id="celular" name="celular" placeholder="celular">

                                                                                </div>
                                                                            </div>
                                                                        </div>




                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <input type="text"  th:field="*{telefonoDomicilioUno}" class="form-control"
                                                                                       id="telefonoDomicilioUno" name="telefonoDomicilioUno" placeholder="teléfono DomicilioUno">

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <input type="text"  th:field="*{extUno}" class="form-control"
                                                                                       id="extUno" name="extUno" placeholder="Ext. Uno">

                                                                            </div>
                                                                        </div>




                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <input type="text"  th:field="*{telefonoDomicilioDos}" class="form-control"
                                                                                       id="telefonoDomicilioDos" name="telefonoDomicilioDos" placeholder="teléfono DomicilioDos">

                                                                            </div>
                                                                        </div> 

                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <input type="text"  th:field="*{extDos}" class="form-control"
                                                                                       id="extDos" name="extDos" placeholder="Ext. Dos">

                                                                            </div>
                                                                        </div>






                                                                        <div class="col-md-12">
                                                                            <div class="form-group">
                                                                                <input type="text"  th:field="*{webPage}" class="form-control"
                                                                                       id="webPage" name="webPage" placeholder="webPage">

                                                                            </div>
                                                                        </div>


                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="ubicacionLat">Ubicacion Lat.</label>
                                                                                <input type="text"  th:field="*{ubicacionLat}" class="form-control"
                                                                                       id="ubicacionLat" name="ubicacionLat" placeholder="ubicacionLat">

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <div class="form-group">
                                                                                <label for="ubicacionIng">Ubicacion Ing.</label>
                                                                                <input type="text"  th:field="*{ubicacionIng}" class="form-control"
                                                                                       id="ubicacionIng" name="ubicacionIng" placeholder="ubicacionIng">

                                                                            </div>
                                                                        </div>






                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="provincia">Provincia</label>
                                                                                <select class="form-control" name="provincia" th:field="*{provincia.idProvincia}" id="provincia">
                                                                                    <option th:each="provincia : ${provincias}" 
                                                                                            th:value="${provincia.idProvincia}"
                                                                                            th:text="${provincia.nombreProvincia}">
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>



                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="parroquia">Parroquia</label>
                                                                                <select class="form-control" name="parroquia" th:field="*{parroquia.idParroquia}" id="parroquia">
                                                                                    <option th:each="parroquia : ${parroquias}" 
                                                                                            th:value="${parroquia.idParroquia}"
                                                                                            th:text="${parroquia.nombreParroquia}" >
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6">
                                                                            <div class="form-group">
                                                                                <label for="canton">Canton</label>
                                                                                <select class="form-control" name="canton" th:field="*{canton.idCanton}" id="canton">
                                                                                    <option th:each="canton : ${cantons}" 
                                                                                            th:value="${canton.idCanton}"
                                                                                            th:text="${canton.nombreCanton}">
                                                                                    </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>






                                                                        <hr>



                                                                            <!--
                                                                            <button type="submit" class="btn btn-success btn-block">
                                                                                <i class="fas fa-check"></i> Grabar
                                                                             </button>
                                                                            -->


                                                                    </div>


                                                                    <section th:replace="direccion/botonesEditarDir :: botonesEditarDir"></section>

                                                                </form>




                                                                <hr></hr>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <!--  </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End of Main Content -->


                <!-- /.container-fluid -->
            </div>

        </div>
        <!-- End of Content Wrapper -->


        <div th:replace="layout/cabecera::scripts"></div>


        <script th:src="@{../assets/dist/js/bootstrap.bundle.min.js}"></script>


        <!-- <script th:src="@{cheatsheet.js}"></script>-->



        <script type="text/javascript">
            function carga_ajax_get(ruta, valor, div)
            {
                var selObj = document.getElementById("tipoDireccion");
                var selValue = selObj.options[selObj.selectedIndex].value;

                //var selNumerocasa = document.getElementById("numeroCasa");

                // var selCalleObj = document.getElementById("callePrincipal");
                //var selCalleValue = selCalleObj.options[selObj.selectedIndex].value;
                //Setting Value
                //document.getElementById("textFieldValueJS").value = selValue;
                alert(selValue);
                //  alert(valor);


                //location.load(
                //location.load();
                /*
                 const $ventanaModal = $('#formDireccion')
                 console.log($ventanaModal)
                 $ventanaModal.on('hidden.bs.modal', function () {
                 const $formulario = $ventanaModal.find('form');
                 $formulario[0].reset();
                 
                 }
                 );*/

                $.get(ruta, {valor: valor}, function (resp) {
                    $("#" + div + "").html(resp);
                });
                return false;

            }

            /*
             $(document).ready(function () {
             $("#tipoDireccion").load("/apiempleado/refreshItem", $("#tipDireccion").serialize());
             });
             */

            function singleSelectChangeValue() {
                //Getting Value
                //var selValue = document.getElementById("singleSelectDD").value;
                var selObj = document.getElementById("tipoDireccion");
                var selValue = selObj.options[selObj.selectedIndex].value;
                // $("#tipoDireccion").load("/apiempleado/refreshItem", $("#tipDireccion").serialize());
                //Setting Value
                //document.getElementById("textFieldValueJS").value = selValue;
                alert(selValue);
            }


            function openContactsModal(id) {
                var selObj = document.getElementById("tipoDireccion");
                var selValue = selObj.options[selObj.selectedIndex].value;
                alert(selValue);
                $.ajax({
                    url: "/findOne?id=" + id,
                    success: function (data) {
                        alert(id);
                        //alert(data);
                        var myJSON = JSON.stringify(data);

                        //alert(myJSON);

                        var tmpData = JSON.parse(myJSON);
                        var formattedJson = JSON.stringify(tmpData, null, ' ');

                        //alert(formattedJson);

                        /*
                         $('#myContactid').html('Id is : ' + data.id);
                         $('#myContactfirstname').html('FirstName is : ' + data.firstname);
                         $('#myContactlastname').html('LastName is : ' + data.lastname);
                         $('#myContactphonenumber').html('Phone Number is : ' + data.phonenumber);
                         $('#myContactemail').html('Email-Id is : ' + data.email);
                         $('#myContactaddress').html('Address is : ' + data.address);
                         $('#myContactModal').modal("show");
                         
                         */


                    }

                });
            }
        </script>

        <script>
            function seleccionar()
            {
                $("#tipoDireccion option[value='2']").attr("selected", true);
            }
        </script>
        <!-- comment 
        <script>
            jQuery(document).ready(function () {

                alert("modal");
                jQuery('#formDireccion').on('hidden.bs.modal', function (e) {
                    jQuery(this).removeData('bs.modal');
                    jQuery(this).find('.modal-content').empty();
                })

            })
        </script>
        -->
    </body>



</html>