<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace="layout/cabecera::head">
        <title>Inicio</title>
        <meta charset="utf-8"/>     
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Content Wrapper -->
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content arriba -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Direccion</h1>

                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Información</h6>
                                </div>
                                <!--  <div class="card-body"> -->
                                <!-- Outer Row -->
                                <div class="row justify-content-center">



                                    <div class="col-xl-10 col-lg-16 col-md-12">

                                        <div class="card o-hidden border-0 shadow-lg my-5">
                                            <div class="card-body p-0">
                                                <!-- Nested Row within Card Body -->
                                                <div class="row">

                                                    <div class="col-lg-12">
                                                        <div class="p-5">




                                                            <div id="content-wrapper" class="d-flex flex-column">
                                                                <section th:fragment="formDireccion">

                                                                    <div id="formDireccion" class="modal-body">
                                                                        <div class="container-fluid">
                                                                            
                                                                            <div class="modal-dialog modal-lg">
                                                                                <div class="modal-content">
                                                                            
                                                                            <div class="modal-header bg-info text-white">
                                                                                <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Dirección</h5>
                                                                                <button class="close" data-dismiss="modal">
                                                                                    <span>&times;</span>
                                                                                </button>
                                                                            </div> 


                                                                            <form class="user" th:action="@{/apiempleado/guardardireccion}" th:object="${direccion}" method="post" enctype="multipart/form-data">
                                                                                <div class="row g-3">
                                                                                    <div class="form-group">
                                                                                        <!--
                                                                                        <input type="text"  th:field="*{descripcionDireccion}" class="form-control form-control-user"
                                                                                               id="descripcionDireccion" name="descripcionDireccion" placeholder="Descripcion de la Direccion">
                                                                                           
                                                                                        <input type="hidden" th:field="*{idDireccion}"/> 
                                                                                        -->
                                                                                    </div>


                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{callePrincipal}" class="form-control form-control-user" id="callePrincipal" name="callePrincipal" placeholder="Calle Principal">

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{numeroCasa}" class="form-control form-control-user"
                                                                                                   id="numeroCasa" name="numeroCasa" placeholder="numeroCasa">

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{calleSecundaria}" class="form-control form-control-user"
                                                                                                   id="calleSecundaria" name="calleSecundaria" placeholder="calleSecundaria">

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{barrio}" class="form-control form-control-user"
                                                                                                   id="barrio" name="barrio" placeholder="barrio">

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <label for="ubicacionLat">Ubicacion Lat.</label>
                                                                                            <input type="text"  th:field="*{ubicacionLat}" class="form-control form-control-user"
                                                                                                   id="ubicacionLat" name="ubicacionLat" placeholder="ubicacionLat">

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <label for="ubicacionIng">Ubicacion Ing.</label>
                                                                                            <input type="text"  th:field="*{ubicacionIng}" class="form-control form-control-user"
                                                                                                   id="ubicacionIng" name="ubicacionIng" placeholder="ubicacionIng">

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{telefonoDomicilioUno}" class="form-control form-control-user"
                                                                                                   id="telefonoDomicilioUno" name="telefonoDomicilioUno" placeholder="teléfono DomicilioUno">

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{extUno}" class="form-control form-control-user"
                                                                                                   id="extUno" name="extUno" placeholder="Ext. Uno">

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{telefonoDomicilioDos}" class="form-control form-control-user"
                                                                                                   id="telefonoDomicilioDos" name="telefonoDomicilioDos" placeholder="telefono Domicilio Dos">

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{extDos}" class="form-control form-control-user"
                                                                                                   id="extDos" name="extDos" placeholder="extDos">

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{celular}" class="form-control form-control-user"
                                                                                                   id="celular" name="extDos" placeholder="celular">

                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <input type="text"  th:field="*{webPage}" class="form-control form-control-user"
                                                                                                   id="webPage" name="extDos" placeholder="webPage">

                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <label for="tipoDireccion">Tipo Direccion</label>
                                                                                            <select class="form-control" name="tipoDireccion" th:field="*{tipoDireccion.idTipoDireccion}" id="tipoDireccion">
                                                                                                <option th:each="tipoDireccion : ${tipoDireccions}" 
                                                                                                        th:value="${tipoDireccion.idTipoDireccion}"
                                                                                                        th:text="${tipoDireccion.nombreTipoDireccion}">
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <label for="provincia">Provincia</label>
                                                                                            <select class="form-control" name="provincia" th:field="*{provincia.idProvincia}" id="provincia">
                                                                                                <option th:each="provincia : ${provincias}" 
                                                                                                        th:value="${provincia.idProvincia}"
                                                                                                        th:text="${provincia.nombreProvincia}">
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <label for="parroquia">Parroquia</label>
                                                                                            <select class="form-control" name="parroquia" th:field="*{parroquia.idParroquia}" id="parroquia">
                                                                                                <option th:each="parroquia : ${parroquias}" 
                                                                                                        th:value="${parroquia.idParroquia}"
                                                                                                        th:text="${parroquia.nombreParroquia}">
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <label for="canton">Canton</label>
                                                                                            <select class="form-control" name="canton" th:field="*{canton.idCanton}" id="canton">
                                                                                                <option th:each="canton : ${cantons}" 
                                                                                                        th:value="${canton.idCanton}"
                                                                                                        th:text="${canton.nombreCanton}">
                                                                                                </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>

                                                                                    <!--     -->


                                                                                    <div class="col-md-6">
                                                                                        <button type="submit" class="btn btn-success btn-block">
                                                                                            <i class="fas fa-check"></i> Grabar
                                                                                        </button>
                                                                                    </div>

                                                                                </div>

                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                       </div>
                                                                  </div> 
                                                                    <hr></hr>


                                                                </section>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div th:replace="layout/cabecera::scripts"></div>


        <script th:src="@{../assets/dist/js/bootstrap.bundle.min.js}"></script>

        <script th:src="@{cheatsheet.js}"></script>
    </body>

</html>
